* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  background: #1f2126;
}

.grid .title a {
  padding: 0 0 0 10px;
}

#main {
  width: 480px;
  margin: 0 auto;
  padding: 64px 0;
}

h1.title {
  font-size: 16px;
  font-weight: 600;
  display: block;
  color: #fff;
  width: 100%;
  margin-bottom: 32px;
}

h1.title a {
  display: flex;
  position: relative;
  color: inherit;
}

h1.title a svg {
  position: absolute;
  left: 0;
}

h1.title a span {
  position: relative;
  left: 10px;
}

h1.title .icon {
  float: right;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.32);
  width: 20px;
  height: 20px;
  display: inline-block;
  line-height: 22px;
}

#tasks,
#today {
  position: relative;
  color: #fff;
}

#tasks li {
  display: block;
  position: relative;
  margin-bottom: 24px;
  padding: 4px 28px 4px 8px;
  overflow: hidden;
  border-radius: 6px;
}

#tasks li .fill {
  position: absolute;
  height: 100%;
  border-radius: 6px 0 0 6px;
  background: rgba(255, 255, 255, 0.04);
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  max-width: 100%;
}

#tasks li a {
  color: #fff;
  font-weight: 600;
}

#tasks li a:hover {
  color: #1fcc92;
}

/* grid item checkbox */
.grid .item .cbx {
  position: relative;
  top: 4px;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  border-color: rgba(255, 255, 255, 0.24);
}

.grid .item .cbx svg {
  position: relative;
  top: -4px;
  transform: scale(0);
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.grid .item .cbx svg polyline {
  stroke-width: 2;
  stroke: #1fcc92;
}

.grid .item .cbx:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #1fcc92;
  transform: scale(0);
}

.grid .item .cbx:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 2px;
  height: 2px;
  border-radius: 2px;
  box-shadow: 0 -18px 0 #1fcc92, 12px -12px 0 #1fcc92, 18px 0 0 #1fcc92,
    12px 12px 0 #1fcc92, 0 18px 0 #1fcc92, -12px 12px 0 #1fcc92,
    -18px 0 0 #1fcc92, -12px -12px 0 #1fcc92;
  transform: scale(0);
}

.grid .item .cbx-lbl {
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
  color: #fff;
  font-size: 16px;
}

.home.grid .item .cbx-lbl a {
  font-weight: 600;
  color: #1fcc92;
}

.devise input {
  margin: 10px 0 16px;
}

.devise .links {
  margin-top: 16px;
}
.devise .links a {
  font-size: 14px;
  color: #fff;
}

.devise .links a:hover {
  color: #1fcc92;
}
.devise input[type='submit'] {
  cursor: pointer;
  font-size: 16px;
  border: none;
  background: none;
  font-weight: 600;
  color: #1fcc92;
}

.grid .item .cbx-lbl a.delete {
  display: none;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.24);
  margin-left: 12px;
  vertical-align: top;
  width: 16px;
  height: 16px;
  color: rgba(255, 255, 255, 0.32);
}

.grid .item .cbx-lbl a.delete .icon {
  width: 16px;
  height: 16px;
  margin-top: 4px;
}

.grid .task .move {
  display: none;
  height: 32px;
  width: 32px;
  text-align: center;
  line-height: 32px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.32);
  font-size: 13px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  cursor: move;
  vertical-align: middle;
}

.grid .task .move .icon {
  height: 16px;
  width: 16px;
  margin: 8px 0;
}

.grid .item input:checked + .cbx svg {
  transform: scale(1);
  transition: all 0.4s ease;
  transition-delay: 0.1s;
}

.grid .item input:checked + .cbx:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.3s ease;
}
.grid .item input:checked + .cbx:after {
  transform: scale(1);
  opacity: 0;
  transition: all 0.6s ease;
}
.grid .item input:checked ~ .cbx-lbl {
  color: rgba(255, 255, 255, 0.32);
}

#tasks .item:hover input:not(:checked) ~ .cbx {
  background: rgba(255, 255, 255, 0.04);
}

.grid .item input:checked ~ .cbx-lbl span {
  text-decoration: line-through;
}

#tasks .item:hover a.delete,
#tasks .task:hover .move {
  display: inline-block;
}

#today .view {
  color: #1fcc92;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}

#settings .section {
  color: #1fcc92;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}

.grid .item .cbx-lbl a.delete:hover {
  color: #e54322 !important;
}

.grid .item input {
  display: none;
}

.grid .item input:checked + .cbx {
  border-color: transparent !important;
}

.task .item .timeleft {
  position: absolute;
  right: 0;
}

#new {
  margin: 16px 0 16px;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 100%;
  height: 32px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #fff;
  background: none;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-content: space-between;
}

.nav a {
  padding: 0 0 0 10px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.devise a {
  /* padding: 10px 0 0 0; */
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.devise #signout {
  font-size: 12px;
  float: right;
  margin: 5px 5px 0 0;
}

/* Sweet Alerts */
.swal-modal {
  background-color: #1fcc92;
  border: 3px solid white;
}

.swal-title {
  margin: 0px;
  font-size: 20px;
  background-color: #1fcc92;
  margin-bottom: 28px;
  color: #1f2126;
}

.swal-text {
  background-color: #1f2126;
  padding: 17px;
  display: block;
  margin: 22px;
  text-align: center;
  color: #f27475;
}

.swal-footer {
  background-color: #1fcc92;
  overflow: hidden;
}
